<%# <h2>hello</h2> %>

<div class="container">
  <h2>List of all Vinyls</h2>
    <ul>
      <% @vinyls.each do |vinyl| %>
        <li>
          <strong><%= link_to vinyl.record_title, vinyl_path(vinyl) %></strong>
          <%= link_to "book this Vinyl"%>
        </li>
      <% end %>
    </ul>
      <%= link_to 'Offer a new Vinyl', new_vinyl_path %>
</div>
