<h2>hell0</h2>

<h2>List of the Vinyls</h2>
  <ul>
    <% @vinyls.each do |vinyl| %>
      <li>
        <%= link_to vinyl.record_title, vinyl_path(vinyl) %>
      </li>
    <% end %>
    <%= link_to 'Which Vinyl you want to offer?', new_vinyl_path %>
  </ul>
