<%# <h2>hello</h2> %>

<div class="container">
  <h2>List of all Vinyls</h2>
    <ul>
      <% @vinyls.each do |vinyl| %>
        <li>
          <div style='margin: 5px'>
            <strong><%= link_to vinyl.record_title, vinyl_path(vinyl) %></strong>
            <%= link_to "Book this Vinyl", new_vinyl_booking_path(vinyl), class: "btn btn-success"%>
            <%= link_to "Delete", vinyl_path(vinyl),
            data: { turbo_method: :delete, turbo_confirm: 'are you sure you want to delete this vinyl?' },
            class: "btn btn-danger"%>
            <hr>
          </div>
        </li>
      <% end %>
    </ul>
      <%= link_to 'Offer a new Vinyl', new_vinyl_path %>
</div>
