<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dsfym0a0h/image/upload/v1676574945/logo_3_fd40xk.jpg);">
</div>
<div class="container">
<div class="outer-div">
	<div class="inner-div">
  <div class="vertical-center">
<a class=  "logo" "center" "btn btn-flat" href="<%= vinyls_path %>" >All Vinyls</a>
</div>
</div>
</div>
