<%# <h1>Pages#home</h1> %>

<div class="container">
  <h2>Welcome to our <strong>VINYLIZE</strong> World 💿</h2>

  <p><%= link_to "All Vinyls", vinyls_path%></p>

  <% if user_signed_in? %>
    <h4>Hi <strong><%= current_user.first_name.capitalize %></strong> </h4>
  <% end %>
</div>
